<launch>
  <param name="/use_sim_time" value="false"/>

  <!-- Load parameters -->
  <rosparam command="load" file="$(find roborts_slam)/config/real_robot_param.yaml" /> 

  <!-- Static Transform -->
  <!-- include file="$(find roborts_slam)/launch/base_laser_link_to_base_link_tf.launch" / -->

  <!-- RoboRTS SLAM Node -->
  <node pkg="roborts_slam" type="roborts_slam_node" name="roborts_slam_node" output="screen" >
    <!--<remap from="scan" to="scan" / -->
  </node>

  <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find roborts_slam)/rviz/rviz.rviz" />-->

</launch>

